/* basic classes */
.flex {
    display: flex;
}

.align-right {
    margin-left: auto;
}

.active {
    background-color: grey;
}

/* top level header/navigation */
header {
    background-color: #FFB933;
    align-items: center;
    padding: 8px;
}

#shopIcon {
    width: 80px;
    height: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 13px;
    background-color: #333;
}

.navLink {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

#searchBar {
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 300px;
    background-color: white;
    padding: 5px;
}

#searchButton {
    border: none;
    background-color: transparent;
}

#search {
    border: none;
    background-color: transparent;
}

/* text */
h1,
h2,
h3,
p,
li {
    font-family: Arial, Helvetica, sans-serif;
    color: #151515;
}

/* icon */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined.md-60 {
    font-size: 40px;
}